<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>O nas</title>
    <meta charset="utf-8" />
    
</head>

<body>
<div th:replace="home :: head"></div>
<div class="container">
        <h3>O nas</h3>
        <p>co robimy</p>
        <p> na czym polega kupowanie przez portal</p>
        <p>za produkty odpowiadają sprzedawcy</p>

        <p>lista sprzedawców</p>
        <p>lista punktów odbioru</p>
        <p>zamówienie zakupów do domu i opłata za to</p>
        <p>opłaty za transport i dostarczenie do punktu odbioru</p>

        <p>kontakt</p>
</div>

<div th:replace="home :: footer"></div>
</body>
</html>