<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Koszyk</title>
    <meta charset="utf-8" />
  
</head>

<body>
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  
                    <li>
                        <a href="#">O nas</a>
                    </li>
                    <li>
                        <a href="#">Punkty odbioru</a>
                    </li>
                    <li>
                        <a href="#">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Kosz</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span> Witaj, nazwa użytkownika
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Moje dane</a>
                            </li>
                            <li>
                                <a href="#">Zamówienia</a>
                            </li>
                            <li>
                                <a href="#">Przechowalnia</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a href="#">Wyloguj</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron main">
        <div class="container text-center">
            <h1>My Portfolio</h1>
            <p>Some text that represents "Me"...</p>
        </div>
    </div> -->
    <div th:replace="home :: head"></div>
    <div class="container">


        <!-- If kosz jest pusty duże logo kosza na środku plus napis jak w gemini -->

        
        <h2>Lista produktów w koszu</h2>
        <hr/>

        <div class="well">
            <!-- <h4 th:text="#{title.list}">List of Products</h4> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th th:text="#{msg.id}" />
                        <th th:text="#{msg.name}" />
                        <th th:text="#{msg.price}" />
                        <th th:text="#{msg.quantity}" />
                        <th th:text="#{msg.amount}" />
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="orderLine: ${listOrderLine}">
                        <td th:text="${orderLine.id}" />
                        <td th:text="${orderLine.product.name}" />
                        <td th:text="${orderLine.purchasePrice}" />
                        <td th:text="${orderLine.quantity}" />
                        <td th:text="${orderLine.amount}" />
                        <td>
                            <a href="cart.html" th:href="@{/cart/orderLine/remove/(id=${orderLine.id})}" class="btn btn-default">Usuń Produkt</a>
                        </td>
                        <td>
                            <a href="cart.html" th:href="@{/cart/orderLine/decrease/(id=${orderLine.id})}" class="btn btn-default">Odejmij sztuke</a>
                        </td>
                        <td>
                            <a href="cart.html" th:href="@{/cart/orderLine/increase/(id=${orderLine.id})}" class="btn btn-default">Dodaj sztuke</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>



        <a href="home.html" th:href="@{/}" class="btn btn-white">Powrót do zakupów</a>


        <a href="cart.html" th:href="@{/cart/submit}" class="btn btn-green navbar-right">Złóż zamówienie</a>

    </div>
    <br/>

    <div th:replace="home :: footer"></div>
</body>

</html>