<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ryby</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="default :: style"></div>
</head>

<body>
    <div th:replace="default :: head"></div>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-sm-2">
                <div th:replace="default :: categoryList"></div>
            </div>
            <div class="col-sm-10">

                <div class="row">
                    <div th:each="prod:${fishNotNull}">
                        <div class="col-sm-3">
                            <div class="card">
                                    <img src="img_avatar2.png" alt="Avatar" style="width:100%" />
                                <div class="well">

                                    <p th:text="${prod.name}">name</p>
                                    <p th:text="${prod.purchasePrice} + ' zł/szt'">purchase price</p>
                                    <a href="cart.html" th:href="@{/cart/addOrderLine/(id=${prod.id})}" class="btn btn-default">Kosz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
                <br/>

                <br/>
            </div>
        </div>
    </div>

    <div th:replace="default :: footer"></div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ryby</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="default :: style"></div>
</head>

<body>
   <div th:replace="default :: head"></div>

    <div class="container-fluid content">
        <div class="row">
            <div class="col-sm-2">
                    <div th:replace="default :: categoryList"></div> 
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <a href="detail.html" th:href="@{/detail}">
                                <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                                <div class="con">
                                    <h4>
                                        <b>Parówka cielęca</b>
                                    </h4>
                                </div>
                            </a>
                            <p> 10 zł/kg</p>
                            <form class="form-inline" action="/action_page.php">
                                <div class="form-group">
                                    <label for="ilosc">Ilość</label>
                                    <input type="text" class="form-control" id="ilosc" value="1" name="ilosc"/>
                                </div>
                                <button type="submit" class="btn btn-default">Kosz</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <a href="">
                                <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                                <div class="con">
                                    <h4>
                                        <b>Parówka cielęca</b>
                                    </h4>
                                </div>
                            </a>
                            <p> 10 zł/kg</p>
                            <form class="form-inline" action="/action_page.php">
                                <div class="form-group">
                                    <label for="ilosc">Ilość</label>
                                    <input type="text" class="form-control" id="ilosc" value="1" name="ilosc"/>
                                </div>
                                <button type="submit" class="btn btn-default">Kosz</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <a href="">
                                <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                                <div class="con">
                                    <h4>
                                        <b>Parówka cielęca rex</b>
                                    </h4>
                                    </div>
                            </a>
                            <p> 10 zł/kg</p>
                            <form class="form-inline" action="/action_page.php">
                                <div class="form-group">
                                    <label for="ilosc">Ilość</label>
                                    <input type="text" class="form-control" id="ilosc" value="1" name="ilosc"/>
                                </div>
                                <button type="submit" class="btn btn-default">Kosz</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <a href="">
                                <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                                <div class="con">
                                    <h4>
                                        <b>Parówka cielęca</b>
                                    </h4>
                                    </div>
                            </a>
                            <p> 10 zł/kg</p>
                            <form class="form-inline" action="/action_page.php">
                                <div class="form-group">
                                    <label for="ilosc">Ilość</label>
                                    <input type="text" class="form-control" id="ilosc" value="1" name="ilosc"/>
                                </div>
                                <button type="submit" class="btn btn-default">Kosz</button>
                            </form>
                        </div>
                    </div>

                </div>
                <br/>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                            <div class="con">
                                <h4>
                                    <b>Jane Doe</b>
                                </h4>
                                <p>Interior Designer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card">
                            <img src="img_avatar2.png" alt="Avatar" style="width:100%"/>
                            <div class="con">
                                <h4>
                                    <b>Jane Doe</b>
                                </h4>
                                <p>Interior Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <div th:replace="default :: footer"></div>
</body>

</html> -->