<style>
    body {
        margin: 0;
    }

    .navbar {
        /*overflow: hidden;*/
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
    }

    .navbar a {
        display: block;
        color: #f2f2f2;
        /*text-align: center;*/
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .main {
        margin-top: 50px;
    }

    .jumbotron {
        margin-bottom: 10;
    }

    .btn-group button {
        background-color: #4CAF50;
        /* Green background */
        border: 1px solid green;
        /* Green border */
        color: white;
        /* White text */
        padding: 10px 24px;
        /* Some padding */
        cursor: pointer;
        /* Pointer/hand icon */
        width: 100%;
        /* Set a width if needed */
        display: block;
        /* Make the buttons appear below each other */
    }

    .btn-group button:not(:last-child) {
        border-bottom: none;
        /* Prevent double borders */
    }

    /* Add a background color on hover */

    .btn-group button:hover {
        background-color: lightgreen;
    }

    .footer {
        /* background-color: #555;
  color: white;
  padding: 15px;*/
        background-color: #f2f2f2;
        padding: 25px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>

<footer class="container-fluid text-center footer">
    <p>Footer Text</p>
    <p>Pomoc FAQ Regulamin Sprzedawcy</p>
</footer>