<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Strona główna</title>
	<meta charset="utf-8" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<link th:href="@{/css/owl.carousel.css}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
	<!-- cart -->
	<script src="js/simpleCart.min.js"> </script>
	<!-- cart -->
	<script type="text/javascript">
		$.get("/user", function (data) {
			$("#user").html(data.userAuthentication.details.name);
			// $(".unauthenticated").hide()
			// $(".authenticated").show()
		});

	</script>
</head>

<body>
	<!--header-->
	<header th:fragment="head">
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="top-right">
						<ul>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Witaj,
									<!-- <span th:text="${username}?: 'id'"></span> -->
									<span id="user"></span>
								</a>
								<ul class="dropdown-menu">

									<li class="dromenu" style="border-right:none;border-left:none;">
										<a class="list" href="settings.html" th:href="@{/settings}">Moje dane</a>
									</li>
									<li class="dromenu" style="border-right:none;border-left:none;">
											<a class="list" href="ordersList.html" th:href="@{/ordersList}">Lista zakupów</a>
										</li>
									<li class="dromenu" style="border-right:none;">
										<a class="list1" th:href="@{/logout}">Wyloguj się</a>
									</li>

								</ul>
							</li>
							<!-- <li class="text">
								<a href="login.html">login</a>
							</li> -->
							<li>
								<div class="cart box_1">
									<a href="cart.html" th:href="@{/cart}">
										<span class="simpleCart_total"> 0.00 </span> (
										<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
									</a>
									<!-- <a href="checkout.html">
										<span class="simpleCart_total"> 0.00 </span> (
										<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
									</a> -->
									<div class="clearfix"> </div>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<!--/.content-->
					<div class="content white">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1 class="navbar-brand">
									<a href="default.html" th:href="@{/}">hala</a>
								</h1>
							</div>
							<!--/.navbar-header-->

							<div class="collapse navbar-collapse" id="myNavbar">
								<ul class="nav navbar-nav">
									<li>
										<a href="home.html" th:href="@{/}">Home</a>
									</li>
									<li>
										<a href="products.html" th:href="@{/products?name=Mięso}">Mięso</a>
									</li>
									<li>
										<a href="products.html" th:href="@{/products?name=Wędliny}">Wędliny</a>
									</li>
									<li>
										<a href="products.html" th:href="@{/products?name=Nabiał}">Nabiał</a>
									</li>
									<li>
										<a href="products.html" th:href="@{/products?name=Ryby}">Ryby</a>
									</li>
									<li>
										<a href="products.html" th:href="@{/}">Owoce i Warzywa</a>
									</li>
								</ul>
							</div>
							<!--/.navbar-collapse-->
						</nav>
						<!--/.navbar-->
					</div>
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search" />
								<input class="sb-search-submit" type="submit" value="" />
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>

					<!-- search-scripts -->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
					<script>
						new UISearch(document.getElementById('sb-search'));
					</script>
					<!-- //search-scripts -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</header>
	<!--header-->
	<div class="gallery">
		<div class="container">
			<h3>Polecane produkty</h3>
			<div class="gallery-grids">
				
					<div class="col-md-3 gallery-grid ">
							<a href="products.html">
								<img src="images/g1.png" class="img-responsive" alt="" />
								<!-- <div class="gallery-info">
									<div class="quick">
										<p>
											<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
									</div>
								</div> -->
							</a>
							<div class="product-info simpleCart_shelfItem">
								<div class="product-info-cust prt_name">
									<h4>Product #1</h4>
									<span class="item_price">$187.95</span>
				
									<input type="text" class="item_quantity" value="1" />
									<input type="button" class="item_add items" value="+" />
									<div class="clearfix"> </div>
								</div>
							</div>
				
				
							<div class="clearfix"></div>
						</div>

				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g2.png" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g3.png" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g4.png" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid ">
					<a href="products.html">
						<img src="images/g5.jpg" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g6.jpg" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info simpleCart_shelfItem">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g7.jpg" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info simpleCart_shelfItem">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 gallery-grid">
					<a href="products.html">
						<img src="images/g8.jpg" class="img-responsive" alt="" />
						<div class="gallery-info">
							<div class="quick">
								<p>
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
							</div>
						</div>
					</a>
					<div class="galy-info simpleCart_shelfItem">
						<p>Amour Women’s Amour...</p>
						<div class="galry">
							<div class="prices">
								<h5 class="item_price">$95.00</h5>
							</div>
							<div class="rating">
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
								<span>☆</span>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!--footer-->
	<div th:fragment="footer" class="footer-section">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-2 footer-grid">
					<h4>company</h4>
					<ul>
						<li>
							<a href="products.html">products</a>
						</li>
						<li>
							<a href="#">Work Here</a>
						</li>
						<li>
							<a href="#">Team</a>
						</li>
						<li>
							<a href="#">Happenings</a>
						</li>
						<li>
							<a href="#">Dealer Locator</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>service</h4>
					<ul>
						<li>
							<a href="#">Support</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
						<li>
							<a href="#">Warranty</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>order returns</h4>
					<ul>
						<li>
							<a href="#">Order Status</a>
						</li>
						<li>
							<a href="#">Shipping Policy</a>
						</li>
						<li>
							<a href="#">Return Policy</a>
						</li>
						<li>
							<a href="#">Digital Gift Card</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>legal</h4>
					<ul>
						<li>
							<a href="#">Privacy</a>
						</li>
						<li>
							<a href="#">Terms and Conditions</a>
						</li>
						<li>
							<a href="#">Social Responsibility</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 footer-grid1">
					<div class="social-icons">
						<a href="#">
							<i class="icon"></i>
						</a>
						<a href="#">
							<i class="icon1"></i>
						</a>
						<a href="#">
							<i class="icon2"></i>
						</a>
						<a href="#">
							<i class="icon3"></i>
						</a>
						<a href="#">
							<i class="icon4"></i>
						</a>
					</div>
					<p>Copyright &copy; 2015 Swim Wear. All rights reserved | Design by
						<a href="http://w3layouts.com">W3layouts</a>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-->

</body>

</html>

<!--
	<footer th:fragment="footer" class="container-fluid text-center">
		<p>Footer Text</p>
		<p>Pomoc </p>
		<p>FAQ</p>
		<a href="regulations.html" th:href="@{/regulations}">Regulamin</a>
		<p>Forma płatności(PayU)</p>
		<p>Lista Sprzedawców</p>
		<a href="#">O nas</a>
		<a href="#">Punkty odbioru</a>
		<a href="contact.html" th:href="@{/contact}">Kontakt</a>
	</footer>
 -->