<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>

	<div th:replace="home :: style"></div>

	<style>
		hr.style1 {
			border-top: 1px solid #8c8b8b;
		}

		.btn-google {
			background: #dd4b39;
		}

		.btn-facebook {
			background: #3B5998;
		}
	</style>

</head>

<body>

	<div th:replace="home :: head"></div>

	<div class="content">
		<div class="main-1">
			<div class="container">
				<div class="login-page">
					<div class="account_grid">
						<div class="col-md-6 login-left">
							<h3>REJESTRACJA</h3>
							<p>W celu utworzenia nowego użytkownika, niezbędne będzie wypełnienie jedynie trzech pól w formularzu rejestracyjnym.</p>
							<a class="acount-btn" href="registration.html" th:href="@{/registration}">Zarejestruj</a>
						</div>
						<div class="col-md-6 login-right">
							<h3>LOGOWANIE</h3>
							<p>Jeśli jesteś zarejestrowany, proszę wprowadzić email i hasło</p>
							<!-- <form th:action="@{/login}" method="POST" class="form-signin"> -->
							<form	action="#" th:action="@{/login}" th:object="${user}" method="post">
								<div>
									<span>Adres Email
										<!-- <label>*</label> -->
									</span>
									<input type="text" id="email" name="email" class="form-control" />
								</div>
								<div>
									<span>Hasło
										<!-- <label>*</label> -->
									</span>
									<input type="password" id="password" name="password" class="form-control" />
								</div>
								<div align="center" th:if="${param.error}">
										<p style="font-size: 20; color: #FF1C19;">Nieprawidłowy email albo hasło, proszę sprubować jeszcze raz</p>
									</div>
								<input type="submit" value="Zaloguj" />
								<a class="forgot" href="#">Zapomniałeś hasło?</a>
							</form>
							<hr/>
							<!-- <hr class="style1" /> -->
							<a class="acount-btn btn-google" href="/login/google"> Zaloguj się przez Google </a>
							<br/>
							<br/>
							<a class="acount-btn btn-facebook" href="/login/facebook">Zaloguj się przez Facebook</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- login -->
	<!-- </div> -->

	

	<!-- <div class="container">
		<img th:src="@{/images/logo.jpeg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br />
			<input type="text" id="email" name="email" th:placeholder="Email" class="form-control" />
			<br />
			<input type="password" th:placeholder="Password" id="password" name="password" class="form-control" />
			<br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div> -->
	<!-- <div class="container unauthenticated" ng-show="!home.authenticated">
		<div>
			With Facebook:
			<a href="/login/facebook">click here</a>
		</div>
		<div>
			With Google:
			<a href="/login/google">click here</a>
		</div>
	</div> -->
	<br/>
	<br/>
	<br/>

	<div class="container unauthenticated">
		With Facebook:
		<a href="/login/facebook">zaloguj z facebook</a>
		<br/> With Google:
		<a href="/login/google">zaloguj z google</a>
	</div>
	<div class="container authenticated" style="display:none">
		Logged in as:
		<span id="user"></span>
	</div>

	<br/>
	<br/>
	<br/>
	<!-- <h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3> -->
	<p th:text="'fromController: ' + ${username}" />
	<!-- <h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3> -->
	<p th:text="'fromController2: ' + ${nameUser}" />
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>

	<form th:action="@{/logout}" method="POST">
		<div class="container" ng-show="home.authenticated">
			Logged in as:
			<span ng-bind="home.user"></span>
			<div>
				<button ng-click="home.logout()" class="btn btn-primary">Logout</button>
			</div>
		</div>
	</form>
	<!-- <div class="container authenticated">
		Logged in as:
		<span id="user"></span>
		<div>
			<button onClick="logout()" class="btn btn-primary">Logout</button>
		</div>
	</div> -->
	<!-- <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script> -->

	<script type="text/javascript">
		$.get("/user", function (data) {
			$("#user").html(data.userAuthentication.details.name);
			$(".unauthenticated").hide()
			$(".authenticated").show()
		});

	</script>


	<div th:replace="home :: footer"></div>

</body>

</html>