<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="utf-8" />
	<!-- <div th:replace="home :: style"></div> -->

	<style>
		hr.style1 {
			border-top: 1px solid #8c8b8b;
		}

		.btn-google {
			background: #dd4b39;
		}

		.btn-facebook {
			background: #3B5998;
		}
	</style>

</head>

<body>

	<div th:replace="home :: head"></div>

	<div class="content">
		<div class="main-1">
			<div class="container">
				<div class="login-page">
					<div class="account_grid">
						<div class="col-md-6 login-left">
							<h3>REJESTRACJA</h3>
							<p>W celu utworzenia nowego użytkownika, niezbędne będzie wypełnienie jedynie trzech pól w formularzu rejestracyjnym.</p>
							<a class="acount-btn" href="registration.html" th:href="@{/registration}">Zarejestruj</a>
						</div>
						<div class="col-md-6 login-right">
							<h3>LOGOWANIE</h3>
							<p>Jeśli jesteś zarejestrowany, proszę wprowadzić email i hasło</p>
							<!-- <form th:action="@{/login}" method="POST" class="form-signin"> -->
							<form	action="#" th:action="@{/login}" th:object="${user}" method="post">
								<div>
									<span>Adres Email
										<!-- <label>*</label> -->
									</span>
									<input type="text" id="email" name="email" />
								</div>
								<div>
									<span>Hasło
										<!-- <label>*</label> -->
									</span>
									<input type="password" id="password" name="password" />
								</div>
								<div align="center" th:if="${param.error}">
										<p style="font-size: 20; color: #FF1C19;">Nieprawidłowy email albo hasło, proszę sprubować jeszcze raz</p>
									</div>
								<input type="submit" value="Zaloguj" />
								<a class="forgot" href="#">Zapomniałeś hasło?</a>
							</form>
							<hr/>
							<!-- <hr class="style1" /> -->
							<a class="acount-btn btn-google" href="/login/google"><i class="fa fa-google fa-fw"></i>Zaloguj się przez Google </a>
							<br/>
							<br/>
							<a class="acount-btn btn-facebook" href="/login/facebook"><i class="fa fa-facebook fa-fw"></i>Zaloguj się przez Facebook</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Zalogowany jako:
		<span id="user"></span>
	<br/>
	<br/>
	<br/>

	<div class="container unauthenticated">
		With Facebook:
		<a href="/login/facebook">zaloguj z facebook</a>
		<br/> With Google:
		<a href="/login/google">zaloguj z google</a>
	</div>
	<div class="container authenticated" style="display:none">
		Logged in as:
		<span id="user"></span>
	</div>


	<br/>
	<br/>
	<br/>

	<p th:text="'fromController: ' + ${username}" />

	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1> -->



	
</body>

</html>