<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły zamówienia</title>
    <meta charset="utf-8" />
    
</head>

<body>
<div th:replace="home :: head"></div>
<div class="container">
       <h2>Zamówienie nr: ...</h2>
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th th:text="Nazwa produktu" />
                        <th th:text="Ilość" />
                        <th th:text="Cena" />
                        <th th:text="Wartość" />
                        <th th:text="Sprzedawca" />
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order: ${allOrders}">
                        <td th:text="${order.id}" />
                        <td th:text="${#calendars.format(order.date,'dd MMM yyyy')}" />
                        <!-- <td th:text="${order.customer.name}" /> -->
                        <td th:text="${order.total}" />
                        <td th:text="$" />
                        <td th:text="$" />
                        <td>
                            <a href="orderLines.html" th:href="@{/order/details(id=${order.id})}">view</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>całkowita wartość zamówienia</p>
            <p>dostarczon do żabki...</p>
            <p>data zakupu</p>
            <p>data dostarczenia</p>
</div>

<div th:replace="home :: footer"></div>
</body>
</html>