<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lista produktów</title>
	<meta charset="utf-8" />
	
</head>

<body>
	<!--header-->
	<div th:replace="home :: head"></div>
	<!--header-->

	<div class="container">
		<h2 th:text="${category}" style="text-align: center;
						font-size: 2.5em;
						color: #000;
						text-transform: capitalize;
							font-weight: 600;">Produkty</h2>
		<br/>
		<br/>
		<div th:each="prod:${productsNotNull}">
			<div class="col-md-3 gallery-grid ">
				<a href="products.html">
					<img src="images/g1.png" class="img-responsive" alt="" />
				</a>
				<div class="product-info simpleCart_shelfItem">
					<div class="product-info-cust prt_name">
						<h4 th:text="${prod.name}">Product name</h4>
						<span class="item_price" th:text="${prod.purchasePrice} + ' zł/szt'">$187.95</span>

						<!-- <input type="text" class="item_quantity" value="1" />
						<input type="button" class="item_add items" value="+" /> -->
						<a href="cart.html" th:href="@{/cart/addOrderLine/(id=${prod.id})}" class="item_add items">Kosz</a>
						<div class="clearfix"> </div>
					</div>
				</div>


				<div class="clearfix"></div>
			</div>
		</div>


	</div>

	<div th:replace="home :: footer"></div>



</body>

</html>