<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Rejestracja</title>
	<meta charset="utf-8" />

	<div th:replace="home :: style"></div>

</head>

<body>
	<div th:replace="home :: head"></div>

	<!-- registration -->
	<div class="main-1">
		<div class="container">
			<div class="register">
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post">
					<div class="register-top-grid">
						<h3>REJESTRACJA</h3>
						<div class="wow fadeInLeft" data-wow-delay="0.4s">
							<span>Adres Email
								<!-- <label>*</label> -->
							</span>
							<input type="email" th:field="*{email}" />
							<!-- <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label> -->
						</div>

						<!-- <a href="#"> -->
						<!-- <a class="news-letter" href="#">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked="" /><i> </i>Sign Up for Newsletter</label>
					   </a> -->
						<!-- <br/>
						<br/>-->
						<!-- <div class="clearfix"> </div> 
						<div class="clearfix"> </div>  -->
						
					</div>
					<div class="register-bottom-grid">
						<!-- <h3>LOGIN INFORMATION</h3> -->
						<div class="wow fadeInRight" data-wow-delay="0.4s">
								<span>Hasło
									<!-- <label>*</label> -->
								</span>
								<input type="password" th:field="*{password}" />
								<!-- <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label> -->
							</div>
							<div class="wow fadeInLeft" data-wow-delay="0.4s">
								<span>Powtórz Hasło
									<!-- <label>*</label> -->
								</span>
								<input type="password" th:field="*{password}" />
									<!-- <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label> -->
							</div>
							<div class="wow fadeInLeft">
									<label class="checkbox">
											<input type="checkbox" name="checkbox" />
											<!-- <a href="#">regulamin</a> -->
										<!-- </label> -->
										<i> </i> Akceptuję <a class="forgot" href="regulations.html">regulamin</a>
									</label> 
									

							</div>
							<input type="submit" value="Zarejestruj" />
							<div class="clearfix"> </div>
							
							<!-- <a class="news-letter" href="regulations.html"> -->
								
							<!-- </a> -->
							
					</div>
				</form>
			</div>
		</div>

	</div>

	<!-- registration -->

	<div th:replace="home :: footer"></div>
</body>

</html>