<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ustawienia</title>
    <meta charset="utf-8" />

    <!-- <script type="text/javascript">
        $.get("/user", function (data) {
            $("#user").html(data.userAuthentication.details.name);
            $(".unauthenticated").hide()
            $(".authenticated").show()
        });
    </script> -->
</head>

<body>
    <div th:replace="home :: head"></div>

    <div class="container">
        <hr/>
        <h2>Moje dane</h2>
        <hr/>

       
                <h4>Nazwa użytkownika</h4>
                <p>nazwa imię </p>
                <h4>Telefon</h4>
                <p>nr. telefonu</p>
                <hr/>
                <h4>Zmień e-mail(login)</h4>
                <input />
                <button></button>
                <hr/>
                <h4>Zmień hasł</h4>
                <p>Stare hasło</p>
                <p>Nowe hasło</p>
                <p>Powtórz nowe hasło</p>

    <div th:replace="home :: footer"></div>
</body>

</html>