<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Potwierdzenie</title>
    <meta charset="utf-8" />
   
</head>

<body>
    <div th:replace="home :: head"></div>

    <div class="container">
        <h2>Moje zakupy</h2>
        <hr/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th th:text="#{msg.id}" />
                    <th th:text="#{msg.name}" />
                    <th th:text="#{msg.price}" />
                    <th th:text="#{msg.quantity}" />
                    <th th:text="#{msg.amount}" />
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderLine: ${listOrderLine}">
                    <td th:text="${orderLine.id}" />
                    <td th:text="${orderLine.product.name}" />
                    <td th:text="${orderLine.purchasePrice}" />
                    <td th:text="${orderLine.quantity}" />
                    <td th:text="${orderLine.amount}" />
                </tr>
            </tbody>
        </table>

        <hr/>
        <hr/>
        <hr/>

        <h2>Odbiór w:</h2>
        <hr/>

        <form>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" />Żabka Habenda (Gdańsk ul.Żabkowa 1) (adres ma odnośnik do mapy)</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" />Żabka Borkowo (Borkowo ul.Żabkowa 2)</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" />dostawa do domu (koszt taxi)</label>
            </div>
        </form>
        <br/>

        <hr/>
        <hr/>
        <hr/>

        <h2>Podsumowanie kosztów</h2>
        <label>Wartość koszyka: <span id="simpleCart_quantity">0</span></label>
        <p>Wartość koszyka</p>
        <p>Koszt dostawy</p>
        <p>Razem do zapłaty</p>


        <!-- <form>
            <label class="checkbox-inline bottom-right">
                <input type="checkbox" value=""/>Option 1
            </label>
        </form> -->
        <hr/>
        <hr/>
        <hr/>
<!-- <div class="clearfix"></div> -->
        <label>
            <input type="checkbox" name="remember" /> Akceptuję
            <a href="regulations" th:href="@{/regulations}">regulamin</a>
        </label>
        <div class="clearfix"></div>
        <!-- <div class="clearfix"> </div> -->
        <a href="cart.html" th:href="@{/cart/submitOrder}" class="btn btn-green">Zamawiam i płacę</a>
        <a href="home.html" th:href="@{/cart}" class="btn btn-white navbar-right">Powrót do koszyka</a>

    </div>
    <br/>

    <div th:replace="home :: footer"></div>

</body>

</html>