<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>potwierdzenie</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="default :: style"></div>
</head>

<body>
    <div th:replace="default :: head"></div>

    <div class="container">
        <h1>Twój koszyk</h1>
        <hr/>
        <p>Lista produktów</p>
        <p>nazwa + cena jednostkowa + ilość + wartość zakupu(suma) + button usuń z kosza(mała ikona śmietnika)</p>
        <br/>

        <h1>Odbiór w</h1>
        <hr/>
        <p>Miejsce odbioru (nazwa i adres)</p>
        <p>data i godzina dostępności zamówienia w punkcie odbioru</p>

        <h1>Produkty</h1>
        <hr/>
        <p>Lista produktów w ramce</p>
        <p>Do zapłaty</p>
        <br/>
        <hr/>
        <p>sdfasdfads</p>

        <form>
            <label class="checkbox-inline bottom-right">
                <input type="checkbox" value=""/>Option 1
            </label>
        </form>

        <!-- <div class="checkbox bottom-right"> -->
        <label>
            <input type="checkbox" name="remember"/> Akceptuję
            <a href="">regulamin</a>
        </label>
        <!-- </div>   -->

        <button type="button" class="btn btn-default">Powrót do koszyka</button>
        <button type="button" class="btn btn-success navbar-right">Potwierdzam zamówienie</button>

    </div>
    <br/>

    <div th:replace="default :: footer"></div>

</body>

</html>