<ul class="nav navbar-nav navbar-right">

    <li>
        <a href="#">
            <span class="glyphicon glyphicon-shopping-cart"></span> Kosz</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span> Witaj, nazwa użytkownika
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Moje dane</a>
            </li>
            <li>
                <a href="#">Zamówienia</a>
            </li>
            <li>
                <a href="#">Przechowalnia</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
                <a href="#">Wyloguj</a>
            </li>
        </ul>
    </li>

</ul>